<%- include("partials/header.ejs") -%>
<style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-btn-sub {
        margin-top: 0.7em;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }
</style>
<title>Admin</title>
</head>

<body class="text-center">
    <%- include("partials/navbar.ejs") -%>

    <div class="container">
        <div class="requests">
            <h2 class="pt-3">Patient Requests</h2>
            <% for (let i=0;i<requestDocs.length;i++){ %>
            <div class="card text-center">
                <div class="card-header">
                    Username : <b><%= requestDocs[i].username %></b>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Blood Group : <%= requestDocs[i].bloodGroup %></h5>
                    <p class="card-text"><b>Reason</b> <br> <%= requestDocs[i].reason %>.</p>
                    <% if(requestDocs[i].emergency === true){ %>
                    <div class="text-danger">Emergency</div>
                    <% }else{ %>
                    <div class="text-success">Not a Emergency</div>
                    <% } %>
                    <br>

                    <form class="d-inline-block" action="/admin/accept" method="post">
                        <input type="hidden" name="username" id="username" value="<%= requestDocs[i].username %>">
                        <input type="hidden" name="bloodGroup" id="bloodGroup" value="<%= requestDocs[i].bloodGroup %>">
                        <button class="btn btn-primary" type="submit">Accept</button>
                    </form>

                    <form class="d-inline-block" action="/admin/reject" method="post">
                        <input type="hidden" name="username" id="username" value="<%= requestDocs[i].username %>">
                        <input type="hidden" name="bloodGroup" id="bloodGroup" value="<%= requestDocs[i].bloodGroup %>">
                        <button class="btn btn-danger" type="submit">Reject</button>
                    </form>

                </div>
            </div>
            <br>
            <% } %>
        </div>
    </div>
    <hr class="dotted-hr">
    <div class="container">
        <div class="donations">
            <h2 class="pt-3">Currently Available Blood</h2>
            <% for (let j=0;j<userDocs.length;j++){ %>
            <div class="card text-center">
                <div class="card-header">
                    Username : <b><%= userDocs[j].username %></b>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Blood Group : <%= userDocs[j].bloodGroup %></h5>
                    <p class="card-text"><b>Number of Units : </b> <%= userDocs[j].donations %></p>
                    <p class="card-text"><b>Name : </b> <%= userDocs[j].name %> </p>
                    <p class="card-text"><b>Email : </b> <%= userDocs[j].email %> </p>
                    <p class="card-text"><b>Phone Number : </b> <%= userDocs[j].phoneNum %> </p>
                </div>
            </div>
            <br>
            <% } %>
        </div>
    </div>
    <hr class="dotted-hr">

    <div class="add-admin ">
        <h2>Add Admins From Here</h2>

        <div class="form-signin">
            <form action="/make-admin" method="post">
                <h1 class="h5 mb-3 fw-normal">Please Enter Username to Make him/her Admin</h1>
                <div class="form-floating">
                    <input type="text" class="form-control" name="username" id="floatingInput" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary form-btn-sub" type="submit">Submit</button>
            </form>
        </div>

    </div>

    <%- include("partials/footer.ejs") -%>