<%- include("partials/header.ejs") -%>
</head>
<body>
<%- include("partials/navbar.ejs") -%>
<!-- add animation after checking -->
<h1><%= bloodGroup1 %> and <%= bloodGroup2 %> are Compatible</h1>
    
<%- include("partials/footer.ejs") -%>
