<%- include("partials/header.ejs") -%>
</head>
<body>
<%- include("partials/navbar.ejs") -%>
<!-- add animation after checking -->
<h1 class ="text-center pt-5"><%= bloodGroup1 %> can donate to <%= bloodGroup2 %></h1>
    
<%- include("partials/footer.ejs") -%>
